<script async defer src="../app/landing.js"></script>
<div class="landing-text" id="landing-text">
    <h1 id="header-text">LearnTechLah!</h1>
    <p><span class="text-primary">L</span>earn. <span class="text-primary">A</span>pply. <span class="text-primary">H</span>ired.</p>
    <p id="subheader-text">A complete guide for anyone looking to get a job in the tech industry</p>
</div>
<div class="row" id="landing-btn-group">
  <div class="col">
    <button type="button" class="btn btn-primary landing-btn" id="btnGetStarted">Get Started</button>

  </div>
</div>



