<script src="../app/projects.js"></script>
<div class="landing-text">
    <h1 id="webdev-header">Okay enough learning, time to build!</h1>
</div>
<div class="container">
    <div id="project-text-row"class="row">
        <div class="col-sm">
            <div class="projects-text-container">
                <p class="projects-text">Building projects is important for web development,
                    because it allows you to put your skills
                    and knowledge into practice, and develop real-world solutions for clients or for your own use.
        
                    It also allows you to experiment with new technologies and features, and to create a portfolio of work
                    that you
                    can show to potential employers or clients.
        
                    A good project should have:
        
                </p>
        
        
               
            </div>
        </div>
        <div class="col">
            <ul class="projects-text">
                <li>A clear and well-defined goal or purpose</li>
                <li>A user-centered design, with a focus on usability and accessibility
                </li>
                <li> A well-structured and organized codebase, with good commenting and documentation
                </li>
    
                <li> A responsive and mobile-friendly design
                </li>
    
                <li> Adequate testing and debugging to ensure that the project is stable and free of bugs.
                </li>
    
            </ul>
            <div id="add-projects-container">
                <button id="btnAddProjects"class="btn btn-primary">Add Projects Here!</button>
            </div>
            
        </div>
    </div>
    
</div>
</div>