<script async defer src="../app/user-profile.js"></script>
<div class="landing-text">
    <h1 id="user-profile-text">Welcome</h1>
</div>
<div id="user-profile-container" class="container">
    <div class="row">
        <div id="user-card-container" class="col">

        </div>
        <div class="projects-container col">

            <form>
                <input type="text" placeholder="Search">
                <button type="SUBMIT" class="btn">Add</button>
            </form>
            <div class="container" id="show-projects-container"></div>

        </div>
    </div>



</div>
</div>
<script>
    getUserInfo('michaelmilano4')
</script>