@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');
:root{
    --bs-font-sans-serif: 'Poppins', sans-serif;
    --bs-primary:#5ab9eA;
    --bg-primary:#5ab9eA;
    --bs-secondary:#d4ecff;
    --bg-secondary:#d4ecff;

}
/* COMMON STUFF */
html{
    scroll-behavior: smooth;
}
.body{
    font-family: 'Poppins', sans-serif;
}
.bg-primary{
    background-color:#5ab9eA;
}
#course-contents{
    width:25%;
    height:90vh;

}
#container-youtube{
    width:75%;
    height:100vh;
    background-color:var(--bg-primary);
}
#youtube-player{
    margin-top:100px;
    position:absolute;top:0px;width:75%;height:70vh;
}
.vid-link{
    text-decoration: none;
}
.projects-btn-container{
    text-align: center;
    margin-top:30vh;
    margin-bottom:10vh;

}
#btnProjects{
    font-size:30pt;
}